* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  /* main */
  --positive__green: #00c800;
  --negative__red: #fd5240;

  /* body */
  --light__gray__body: #7b7b7b;

  --ff_main: "Nunito Sans", sans-serif;
}

body {
  font-family: var(--ff_main);
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 3em;
  margin-bottom: 2em;
  gap: 5em;
  font-weight: 700;
  font-size: 1.25em;
}

header img {
  width: 48px;
  height: 48px;
}

form input {
  width: 30rem;
  height: 48px;
  padding-left: 1em;
  font-size: 1em;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2em;
}

/* main container */
.app-container {
  display: flex;
  justify-content: center;
  margin: 2.5em;
}

.main-container {
  /* min-width: 1200px; */
  width: 1200px;
  height: 5000px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* main portfolio */
.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.portfolio-container ul {
  list-style: none;
  display: flex;
  gap: 1em;
  font-weight: 800;
  font-size: 1em;
}

.portfolio-chart {
  width: 100%;
  height: 400px;
}

.portfolio-bp {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.main-panel {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 1.25em;
  border-top: 1px solid lightgray;
  padding: 1.5em 0;
}

.main-panel ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}

section h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

/* side containers */
aside {
  position: sticky;
  top: 74.5px;
  max-height: 500px;
}

.side-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 1em;
  margin-bottom: 2em;
  width: 335px;
}

.panel {
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
  /* padding: 1em; */
  font-size: 1em;
  box-shadow: 0px 0px 32px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
}

/* stock content panel */

.stocks-panel {
  /* gap: 1.5em; */
}

.stocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: 700;
  padding: 1em;
}

.stocks:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.stocks .ticker-graph {
  justify-self: center;
}
.stocks .ticker-price {
  justify-self: end;
}

/* Purchase Panel */

.purchase-panel {
  padding: 1em;
  gap: 1em;
}

.purchase-panel hr {
  margin: 0 -1em;
  border: none;
  background-color: lightgray;
  height: 1px;
}

.purchase-panel h2 {
  font-weight: 700;
}

.purchase-form {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}
.purchase-form section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase-form section input,
select {
  width: 120px;
  height: 30px;
  padding-left: 6px;
}

/* remove arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0.25em;
}

.purchase-form #order-shares {
  text-align: right;
}

.purchase-form hr {
  margin: 0;
}

.currnet-estimated {
  font-weight: 800;
}

#btn-submit {
  background-color: var(--positive__green);
  border: none;
  border-radius: 0.5em;
  color: white;
  font-weight: 600;
  margin-top: 1em;
  width: inherit;
}

.user-available {
  font-weight: 700;
  text-align: center;
}

.hidden {
  display: none;
}

/* News Content */

.news-panel {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5em;
  margin: 1em 0;
  text-decoration: none;
  align-items: center;
  color: black;
}

.news-panel:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

.news-panel-main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
}

.news-publisher {
  font-weight: 800;
}

.news-publisher-time {
  font-weight: 500;
}

.news-title {
  font-size: 1.5em;
}

.news-teaser {
  color: var(--light__gray__body);
}

.news-ticker {
  align-self: flex-end;
  font-weight: 800;
}

.news-image {
  display: flex;
  height: 150px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #00c800;
}

.news-panel img {
  width: 100%;
}

/* POSITIVE GREEN NEGATIVE RED */
.positive {
  color: var(--positive__green);
}

.negative {
  color: var(--negative__red);
}
