* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  /* main */
  --positive_green: #00c800;
  --negative_red: #fd5240;
  --NEUTRAL: #b2b2b2;

  /* body */
  --light__gray__body: #7b7b7b;
  --light__gray__highlight: #c5c5c5;

  --ff_main: "Nunito Sans", sans-serif;

  --aside_height: 135px;
}

body {
  font-family: var(--ff_main);
}

main {
  display: grid;
  grid-template-columns: 1.75fr 1fr;
  height: 100vh;
}

.background-art {
  background-image: url("/images/bamboo_art_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1.5em;
  width: 100%;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
}

.login-form .form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.login-form .form-redirect {
  font-size: 12px;
}

.login-form .form-redirect a {
  font-weight: 700;
  text-decoration: underline;
  color: black;
}

.login-form h1 {
  font-weight: 600;
}

.login-form form label {
  font-size: 0.85em;
  font-weight: 300;
}

.login-form form input {
  width: 250px;
  padding-left: 6px;
  padding: 0.5em;
}

.login-form button {
  display: flex;
  justify-content: center;
  cursor: pointer;

  padding: 1.25em;
  min-width: 75px;
  font-size: 12px;
  border: none;
  border-radius: 3em;
  font-weight: 600;
  background-color: black;

  color: whitesmoke;
}

.login-form button p {
  margin: 0.25em;
}

/* register form */
.login-form-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-form-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
}

.waitLoad {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

/* ANIMATIONS*/
.loader {
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid #7b7b7b; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 100;
  animation: spin 1s linear infinite;
}

.loader-button {
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #7b7b7b; /* Blue */
  border-radius: 50%;
  width: 14px;
  height: 14px;
  z-index: 100;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
